
@model Model.EF.Footer
@*@Html.Raw(Model.Content)*@
<div class="col-md-12">
    <ul class="social-media">
        <li>
            <a href="https://www.facebook.com/Tan.2809/">
                <i class="tf-ion-social-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/shiinn.n/">
                <i class="tf-ion-social-instagram"></i>
            </a>
        </li>
        <li>
            <a href="https://www.twitter.com/themefisher">
                <i class="tf-ion-social-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.pinterest.com/themefisher/">
                <i class="tf-ion-social-pinterest"></i>
            </a>
        </li>
    </ul>
    <ul class="footer-menu text-uppercase">
        <li>
            <a href="contact.html">CONTACT</a>
        </li>
        <li>
            <a href="shop.html">SHOP</a>
        </li>
        <li>
            <a href="pricing.html">Pricing</a>
        </li>
        <li>
            <a href="contact.html">PRIVACY POLICY</a>
        </li>
    </ul>
</div>