@model List<Model.EF.Menu>
<div class="col-md-4 col-xs-12 col-sm-4">
    <div class="contact-number">
        <i class="tf-ion-ios-telephone"></i>
        <span>(+84)79 960 0962</span>
    </div>
</div>
<div class="col-md-4 col-xs-12 col-sm-4">
    <!-- Site Logo -->
    <div class="logo text-center">
        <a href="index.html">
            <!-- replace logo here -->
            <svg width="135px" height="29px" viewBox="0 0 300 29" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                   font-size="45" font-family="AustinBold, Austin" font-weight="bold">
                    <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                        <text id="AVIATO">
                            <tspan x="108.94" y="325">DNT SHOP</tspan>
                        </text>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</div>
<div class="col-md-4 col-xs-12 col-sm-4" style="padding-left:180px">
    <!-- Cart -->
    <ul class="nav navbar-nav">
        @foreach (var item in Model)
        {
            <li class="dropdown cart-nav  ">
                @*<a href="index.html">Home</a>*@
                <a href="@item.Link" target="@item.Target">@item.Text</a>
            </li><!-- / Home -->
        }
    </ul>
    <!-- / .nav .navbar-nav .navbar-right -->
</div>